*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#map{
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.popup{
    max-width: 200px;
    border-radius: 5px;
}

.popup .popup-city{
    font-size: 1.5em;
    font-weight: bold
}

.popup .popup-address{
    font-size: 1em;

}